* {
    box-sizing: border-box;
}

/* Style the body */
body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin: 0;
}

/* Header/logo Title */
.header {
  padding: 60px; /*otázka1*/
  text-align:right;/*otázka2*/
  background-image: url("./images/landscape.jpg");
}

/* Increase the font size of the heading */
.header h1 {
  font-size: 50px;
}

/* Sticky navbar - toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed). The sticky value is not supported in IE or Edge 15 and earlier versions. However, for these versions the navbar will inherit default position */
.navbar {
  overflow: hidden;
  background-color: #333;
  /*otázka6*/
  top: 0;
}

/* Style the navigation bar links */
.navbar a {
  float: right;/*otázka7*/
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
  float: left;/*otázka7*/
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Active/current link */
.navbar a.active {
  background-color: #666;
  color: white;
}

/* Column container */
.row {  
  display: flex;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 25%;/*otázka8*/
  background-color: #1d0085;/*otázka4*/
  padding: 20px;
  color: #666;/*otázka4*/
}

/* Main column */
.main {   
  flex: 75%;/*otázka8*/
  background-color: white;
  padding: 20px;
}

/* Footer */
.footer {
  padding: 200px;
 /*otázka5*/
  background: #474747;
}

/* Center the text */
.footer p {
  text-align: center;
  font-size: 14px;
  color:#16750d; /*otázka3*/
}

/* Basic styles for the post */
.post {
  margin-bottom: 50px;/*otázka9*/
  padding: 20px;
  background-color: #fff;
  border: 1px solid rgb(228, 10, 10);/*otázka10*/
}

/* Styles for the post heading */
.post h2 {
  margin-top: 0;
  margin-bottom: 10px;
}

/* Styles for the post image */
img {
  max-width: 100%;
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navbar a {
    float: none;
    width: 100%;
  }
}